

 #nav-bar {
  z-index:10;
  height: 80px;
  width: 100%;
  position: fixed;
  top:0px;
  padding: 0 2em 0 2em;
  background-color: #00a087;
  color: #e8fdff;
 }

 #nav-bar .logo {
   width:80px;
   height:80px;
   float:left;
 }

#nav-bar .header {
  font-size: 32px;
  margin-left:10px;
  line-height: 80px;
  float:left;

}

#nav-bar button {
  background-color: #D2FDFE;
  color: #66CDAA;
  height:60px;
  width: 120px;
  float: right;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

#nav-bar button:hover {
  background-color: #FBFBFB;
  color: black;
}

#nav-bar button img {
  width:19px;
  height:19px;
  margin-left:5px;
}

#nav-bar button p {
  font-size: 19px;
  margin-right:5px;
}
