.tweet {
  margin: 10px 2em 10px 2em;
  background-color: #eee;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

.tweet:hover {

}

.tweet header {
  height: 60px;
}

.tweet img {
  box-sizing: border-box;
  margin: 10px 15px 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display:inline-block;
  float: left;
}

.tweet img :hover {

}

.tweet header h2 {
  position:relative;
  margin: 10px 0 0 0;
  display:inline-block;
  float: left;
  font-size: 22px;
}

.tweet header p {
  display:inline;
  float:right;
  font-size: 13px;
  margin: 15px 10px 0 0;
}

.tweet div {
  background-color: #FFFFFF;
  height: 90px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.tweet div p {
  margin: 0 0 0 0;
  padding: 30px 15px 0 15px;
  font-style: normal;
}

.tweet footer {
  background-color: #FFFFFF;
  height:40px;
  padding: 10px 0 10px 10px;
  display:flex;
  align-items: center;
}

.tweet footer p {
  font-size: 14px;
}

