.tweet {
  margin: 10px 2em 10px 2em;
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

.tweet:hover {
  border: 1px solid black;
}

.tweet header {
  opacity:.7;
  background-color: #eee;
  height: 60px;
  border-radius: 5px 5px 0 0;
}

.tweet:hover header {
  opacity: 1;
}

.tweet header img {
  box-sizing: border-box;
  margin: 10px 15px 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display:inline-block;
  float: left;
}

.tweet header h2 {
  margin: 10px 0 0 0;
  display:inline-block;
  font-size: 22px;
}

.tweet header p {
  display:inline;
  float:right;
  font-size: 13px;
  margin: 15px 10px 0 0;
}

.tweet > div {

  height: 90px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.tweet div p {
  margin: 0 0 0 0;
  padding: 30px 15px 0 15px;
  font-style: normal;
}

.tweet footer {

  height:40px;
  padding: 10px 0 10px 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.tweet footer p {
  font-size: 14px;

}

.tweet footer div {
  visibility:hidden
}

.tweet footer img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.tweet:hover div {
  visibility: visible;
}


